<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NeuroRighter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NeuroRighter.Properties.Settings>
            <setting name="CineplexDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="StimulatorDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="SeparateLFPBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LFPDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="UseProgRef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SerialPortDevice" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="EEGDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="UseEEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumAnalogInDevices" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseCineplex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseStimulator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MUXChannels" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="StimPortBandwidth" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RecordStimTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StimInfoDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="ChannelMapping" serializeAs="String">
                <value>invivo</value>
            </setting>
            <setting name="DefaultNumChannels" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UseLFPs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpikeDisplayGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SpkWfmDisplayGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LFPDisplayGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImpedanceDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="UseSingleChannelPlayback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SingleChannelPlaybackDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="StimIvsVDevice" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="SpikesLowCut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpikesHighCut" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LFPLowCut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LFPHighCut" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SpikesReferencingScheme" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SpikesNumPoles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LFPNumPoles" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProcessMUA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EEGDisplayGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="EEGSamplingRate" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="EEGGain" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EEGNumChannels" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PreAmpGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSigOut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SigOutDev" serializeAs="String">
                <value>Dev1</value>
            </setting>
            <setting name="recordSpikes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="recordRaw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordSpikeFilt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordSalpa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordLFP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordEEG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordMUA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordStim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordAuxAnalog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recordAuxDigital" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recSetFormLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="auxAnalogInDev" serializeAs="String">
                <value />
            </setting>
            <setting name="auxDigitalInPort" serializeAs="String">
                <value />
            </setting>
            <setting name="auxAnalogInChan" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>lalala</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="useAuxAnalogInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useAuxDigitalInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RawSampleFrequency" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="LFPSampleFrequency" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="MUASampleFrequency" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ADCPollingPeriodSec" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="datSrvBufferSizeSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DACPollingPeriodSec" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="UseAODO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CLstimdiretory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="OLstimdirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="savedirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="saveImpedanceDirectory" serializeAs="String">
                <value>.</value>
            </setting>
        </NeuroRighter.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18CBAE0F9955702A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-8.6.35.131" newVersion="8.6.35.131"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
